<footer class="site-footer">

  <div class="footer-wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <ul class="social-footer">
        {% if site.facebook %}
      <li><a href="{{ site.facebook }}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
    {% else %}
    {% endif %}
    {% if site.instagram %}
      <li><a href="{{ site.instagram }}" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
    {% else %}
    {% endif %}
  
      <li><a href="{{ site.linkedin }}" target="_blank">ㅇㅇㅇㅇ</a></li>
  
        </ul>

    <div class="copyright">
      <p>© 2023 Timmy.Ahn</p>
    </div>
  </div>

</footer> <!-- /.site-footer -->
